nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex; /* Added for flex layout */
  justify-content: space-between; /* Added to space out elements */
}
ul.navbutt {
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Changed to flex */
  flex-grow: 1; /* Added to allow left items to take available space */
}
li {
  display: inline-block;
  margin-right: 10px;
}
#logout {
 
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  width: auto;
  font-weight: bold;
  font-size:large ;
 text-align: center;
  background-color: #b46f00;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
li.logout {
  margin-right: 0;
  margin-left: auto; /* Added to push the logout to the right */
}

a.navbar {
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

ul {
  list-style  : none;
  margin: 0;
  padding: 0;
}


a.navbar {
  color: white;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
}
/* styles.css */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(176, 165, 165);
}
.listitem{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(203, 200, 187);
}


.app-container {
padding: 20px; /* Adjust the padding value as needed */
}

/* LoginForm.css */

/* Style for input fields */
.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.status{ display: flex;
  justify-content: center;
  align-items: center;
font-weight: bold;
font-family:monospace;
color: turquoise;
text-shadow: black 0.1em 0.1em 0.2em;
font-size: 20px;
}
.input {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
#logout{
  display: flex;
  justify-content: flex-end;
}

.navbuttons{
  display: flex; 
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #b46f00;
  color: #fff;
  width: fill;
}
.navbuttons:hover{
  background-color: #b46f00;
}

.cartbutton{
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(44, 42, 42);
  border-radius: 4px;
  cursor: pointer;
  background-color: #b46f00;
  color: #fffcfc;
  width: 100px;
}

.cartbuttons{
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(44, 42, 42);
  border-radius: 4px;
  cursor: pointer;
  background-color: #b46f00;
  color: #fffcfc;
  width: 200px;
}
.cartbutton:hover{
  background-color: #5d3900;
}

/* Style for buttons */
.button {
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff; /* Change the background color as needed */
  color: #fff;
  width: 500px;
}
.registerbutton{
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0099b4;
  color: #fff;
  width: 500px;
}

.registerbutton:hover{
  background-color: #00697b;
}

.button:hover {
  background-color: #0056b3; /* Change the hover color as needed */
}

/* Style for error message */
.errorMessage {
  color: red;
  font-weight: bold;
}
.banner {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #fff;
  width: fill; /* Adjust the width as needed */
  margin: auto; /* Centers the banner div in the container */
 
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(154, 138, 138);
}

