nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a.navbar {
  color: white;
  text-decoration: none;
}

.app-container {
padding: 20px; /* Adjust the padding value as needed */
}